<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
    <a routerLink="/" class="simple-text logo-normal">
      Autocorrect
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" routerLink="/words">
          <i class="material-icons">library_books</i>
          <p>Fjalët</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/new-word">
          <i class="material-icons" >create</i>
          <p>Krijo fjalë</p>
        </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/licenses">
            <i class="material-icons" >unarchive</i>
            <p>Licensat</p>
          </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/new-license">
              <i class="material-icons" >create</i>
              <p>Krijo license</p>
            </a>
          </li>
     
    </ul>
  </div>
</div>