<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Kerko fjalën">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="WrongWord">
    <th mat-header-cell *matHeaderCellDef> Fjala e gabuar </th>
    <td mat-cell *matCellDef="let element"> {{element.wrongWord}} </td>
  </ng-container>
  <ng-container matColumnDef="RightWord">
    <th mat-header-cell *matHeaderCellDef> Fjala e sakte </th>
    <td mat-cell *matCellDef="let element"> {{element.rightWord}} </td>
  </ng-container>
  <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
          <button (click)="updateWord(element)" mat-raised-button color="primary">
            <mat-icon color="white">edit</mat-icon> <b>Edit</b>
          </button>
          <button [routerLink]="['/delete-word',element.wrongWord]" mat-raised-button color="warn">
            <mat-icon color="white">delete_sweep</mat-icon><b>Delete</b>
          </button>
      </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [length]="100" [pageSize]="100" [pageSizeOptions]="[25, 50, 100, 200, 500]" ></mat-paginator>