<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<div class="wrapper">
<app-header></app-header>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Autocorrect</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
           
            <button mat-button [matMenuTriggerFor]="menu"> 
                {{username}}</button> <i class="material-icons">person</i>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item color="warn" (click)="logout()">Logout</button>
                </mat-menu>
            </div>
        </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <app-footer></app-footer> 
            </div>
        </footer>
    </div>
</div>