<mat-card>
  <mat-card-header>
    <mat-card-title>Jeni i sigurt qe doni te fshini kete fjale?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item [ngStyle]="{'color':'red'}">
        Fjala gabim:  <b> {{word.wrongWord}} </b>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [ngStyle]="{'color':'green'}">
        Fjala e saktë: <b> {{ word.rightWord }} </b>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="warn" (click)="confirm()">Confirm</button>
  </mat-card-actions>
</mat-card>